{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "color-named": "always-where-possible",
        "color-hex-case": "upper",
        "declaration-colon-space-after": "always-single-line"
    }
}
