  html,
  body {
    margin: 0;
}

::-webkit-input-placeholder {
    color: #B5B5B5;
}

::-moz-placeholder {
    color: #B5B5B5;
}

:-ms-input-placeholder {
    color: #B5B5B5;
}

:-moz-placeholder {
    color: #B5B5B5;
}

*:focus {
    outline: none;
}

.dmw-fz0 {
    font-size: 0;
}

.dmw-clearfix::before,
.dmw-clearfix::after {
    display: table;
    content: ' ';
}

.dmw-clearfix::after {
    clear: both;
}

.dmw-col {
    float: left;
    box-sizing: border-box;
}

.dmw-relative {
    position: relative;
}

.dmw-truncate {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dmw-border-box {
    box-sizing: border-box;
}

.dmw-hide-xs {
    display: none;
}

@media (min-width: 375px) {
    .dmw-hide-xs {
        display: inline;
    }
}

.dmw-p0 {
    padding: 0;
}

.dmw-hide {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

.dmw-center {
    text-align: center;
}

.dmw-list-reset {
    padding-left: 0;
    list-style: none;
}

.dmw-col-4 {
    width: 33.33333%;
}

.dmw-col-6 {
    width: 50%;
}

.dmw-col-8 {
    width: 66.66667%;
}

.dmw-col-12 {
    width: 100%;
}

.dmw-m0 {
    margin: 0 !important;
}

.dmw-p1 {
    padding: 8px;
}

.dmw-px1 {
    padding-right: 8px;
    padding-left: 8px;
}

.dmw-pt1 {
    padding-top: 8px;
}

.dmw-pl1 {
    padding-left: 8px;
}

.dmw-pl2 {
    padding-left: 16px;
}

.dmw-pl3 {
    padding-left: 24px;
}

.dmw-pr2 {
    padding-right: 16px;
}

.dmw-pr3 {
    padding-right: 24px;
}

.dmw-mr1 {
    margin-right: 8px !important;
}

.dmw-mr3 {
    margin-right: 32px;
}

.dmw-mb1 {
    margin-bottom: 8px;
}

.dmw-block {
    display: block;
}

.dmw-pt0 {
    padding-top: 0;
}

.dmw-pr0 {
    padding-right: 0;
}

.dmw-pl0 {
    padding-left: 0;
}

.dmw-pl2 {
    padding-left: 16px;
}

.dmw-inline-block {
    display: inline-block;
}

.digital-marketplace-widget {
    border: 1px solid #E7E7E7;
    background: transparent;
    background: WHITE;
    font-size: 16px !important;
    font-family: 'Open Sans', tahoma, sans-serif;
    line-height: 1.5 !important;
}

.dmw--desktop {
    height: 120px !important;
}

.dmw--mobile {
    margin: 0 auto;
    max-width: 430px;
    box-shadow: 0 2px 6px 0 RGBA(235, 235, 235, 1);
}

.dmw-grid__img {
    overflow: hidden;
    width: auto;
}

.dmw-grid__content {
    width: auto;
}

.dmw-grid__content--mobile {
    width: 100%;
}

.dmw-img {
    display: block !important;
    max-width: initial !important;
    height: 120px !important;
    font-size: 0 !important;
}

.dmw-tab {
    overflow-x: hidden;
    margin-bottom: 3px !important;
    border-bottom: 1px solid #DDD;
}

.dmw-tab__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 67px;
    height: 2px;
    background: #43B54B;
}

.dmw-tab__indicator--mobile {
    width: 32%;
}

.dmw-tab__item {
    position: relative;
    padding: 0;
    border-bottom: 1px solid transparent;
}

.dmw-tab__item--mobile {
    margin: 0 !important;
    padding: 0 !important;
}

.dmw-tab__link {
    box-sizing: border-box;
    padding: 5px 20px !important;
    color: #888 !important;
    text-decoration: none;
    font-size: 13px;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
}

.dmw-tab__link:hover,
.dmw-tab__link:focus,
.dmw-tab__item.active .dmw-tab__link {
    color: #515151;
}

.dmw-tab__link--mobile {
    width: 100%;
}

.dmw--mobile .dmw-tab__link {
    padding: 10px 0;
}

.dmw-tab__content {
    display: none;
}

.dmw-tab__content.active {
    display: block;
}

.dmw-label {
    margin-bottom: 8px !important;
    color: #515151;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.5;
}

.dmw-label input[type=checkbox],
.dmw-label input[type=radio] {
    margin-top: 0 !important;
}

.dmw-input {
    display: block;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 7px 5px 7px 6px !important;
    width: 100% !important;
    height: 35px !important;
    border: 1px solid #CDCDCD !important;
    border-radius: 3px !important;
    background: WHITE !important;
    color: #515151 !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

select.dmw-input {
    padding-right: 1.8em !important;
    outline: none;
    background-color: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAAXNSR0IArs4c6QAAAJ1JREFUCB1jzMnJCWdkZBSdPHnyFAYk0NDQwPbmzZuVTExMk5iA4p7//v2bDFScC1OzatUqZqCC5f////cHyikwiYiIJAFNWgIUmARSCKQZDx48OAdIBwJNSZ8yZcp8RpBuoNFMQJ0LgRIxQO4hILYFKsgEOmEmSJ4ZRBw4cOC/l5fXxu/fvysDub5Ak3OAJswAyWEAkIm5ublu6BIADTRHW7YWzxEAAAAASUVORK5CYII=) !important;
    background-position: right 7px center !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.dmw-input option:disabled {
    background-color: #F1F1F1 !important;
    color: #B5B5B5 !important;
    cursor: not-allowed !important;
}

input[disabled].dmw-input,
select[disabled].dmw-input {
    background-color: #F1F1F1 !important;
    color: #B5B5B5 !important;
    cursor: not-allowed !important;
}

.dmw-button {
    padding: 7px 5%;
    width: 100% !important;
    border: 1px solid #F26039;
    border-radius: 2px;
    background-color: #F26039;
    color: WHITE;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;
    -webkit-transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.dmw-button:hover {
    border-color: RGB(244, 117, 82);
    background-color: RGB(244, 117, 82);
}

.dmw-button:focus {
    border-color: RGB(241, 79, 34);
    background-color: RGB(241, 79, 34);
}

.dmw-button[disabled] {
    border-color: RGB(246, 137, 106);
    background-color: RGB(246, 137, 106);
}

.dmw-label--radio {
    padding-left: 2px !important;
}

.dmw-checkbox--desktop {
    margin-right: 5px !important;
}

.dmw-departure {
    margin-bottom: 24px;
}

.dmw-return {
    position: relative;
}

.dmw-return::before {
    position: absolute;
    top: -22px;
    left: 50%;
    display: block;
    margin-left: -12px;
    width: 20px;
    height: 21px;
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg id='arrow-horizontal' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.2 31.09'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23515251}%3C/style%3E%3C/defs%3E%3Ctitle%3Earrow-vertical%3C/title%3E%3Cpath class='cls-1' d='M4 24.37v-15h5.13v15h4.51l-6.81 6.7L0 24.52zM19.77 7.16v15.05H14.6v-15h-3.26L17.11 0l6.1 7.16h-3.44z' transform='translate(-.01 .01)'/%3E%3C/svg%3E");
    background-size: 20px 21px;
    background-repeat: no-repeat;
    content: '';
}

.dmw--desktop .dmw-return::before {
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 23px;
    height: 15px;
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg id='arrow-horizontal' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.91 29.83'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23515251}%3C/style%3E%3C/defs%3E%3Ctitle%3Earrow-horizontal%3C/title%3E%3Cpath class='cls-1' d='M31.34 25.28H12.11v-6.56h19.25v-5.8L40 21.68l-8.43 8.77zM9.25 5h19.34v6.7H9.36v4.16L0 8.45 9.25.62V5z' transform='translate(-.04 -.62)'/%3E%3C/svg%3E");
    background-size: 23px 15px;
    background-repeat: no-repeat;
}

.dmw-img--operator {
    position: absolute;
    top: 5px;
    right: 7px;
    height: 25px;
}

.dmw-error-tooltip {
    position: absolute;
    top: 42px;
    left: 0;
    display: none;
    padding: 3px 5px;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    background: WHITE;
    box-shadow: 1px 1px 0 0 RGBA(124, 120, 119, 0.1);
    color: #F26039;
    font-size: 12px !important;
}

.dmw-error-tooltip::before,
.dmw-error-tooltip::after {
    position: absolute;
    display: block;
    border-style: solid;
    content: '';
}

.dmw-error-tooltip::before {
    top: -22px;
    left: 24px;
    border-width: 11px;
    border-color: transparent transparent #CDCDCD;
}

.dmw-error-tooltip::after {
    top: -20px;
    left: 25px;
    border-width: 10px;
    border-color: transparent transparent white;
}

.dmw-toggle input.dmw-toggle-btn {
    position: absolute;
    top: -10px;
    z-index: 99;
    display: inline-block;
    margin-top: 0;
    width: 30px;
    height: 25px;
    opacity: 0;
    cursor: pointer;
}

.dmw-toggle input.dmw-toggle-btn + label {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px #D5D5D5;
    vertical-align: middle;
    text-indent: -5000px;
    cursor: pointer;
}

.dmw-toggle input.dmw-toggle-btn + label::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: RGBA(19, 191, 17, 0);
    content: '';
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.dmw-toggle input.dmw-toggle-btn + label::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: WHITE;
    box-shadow: inset 0 0 0 1px RGBA(0, 0, 0, 0.2), 0 2px 4px RGBA(0, 0, 0, 0.2);
    content: "";
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.dmw-toggle input.dmw-toggle-btn:checked + label::before {
    width: 30px;
    background: RGBA(75, 216, 101, 1);
}

.dmw-toggle input.dmw-toggle-btn:checked + label::after {
    left: 15px;
    box-shadow: inset 0 0 0 1px RGBA(75, 216, 101, 1), 0 2px 4px RGBA(0, 0, 0, 0.2);
}

.dmw-grid__toggle--1 {
    width: 100px;
}

.dmw-grid__toggle--2 {
    padding-top: 2px;
    width: 100px;
}

.dmw-grid__left {
    width: 67%;
}

.dmw-breakpoint--1 .dmw-grid__left {
    width: 65%;
}

.dmw-breakpoint--2 .dmw-grid__left {
    width: 63%;
}

.dmw-grid__right {
    width: 33%;
}

.dmw-breakpoint--1 .dmw-grid__right {
    width: 35%;
}

.dmw-breakpoint--2 .dmw-grid__right {
    width: 37%;
}

.dmw-grid__left--kai {
    width: 75%;
}

.dmw-grid__right--kai {
    width: 25%;
}

.dmw-grid__1--kai {
    width: 21%;
}

.dmw-breakpoint--1 .dmw-grid__1--kai {
    width: 18%;
}

.dmw-breakpoint--2 .dmw-grid__1--kai {
    width: 16%;
}

.dmw-grid__2--kai {
    width: 21%;
}

.dmw-breakpoint--1 .dmw-grid__2--kai {
    width: 18%;
}

.dmw-breakpoint--2 .dmw-grid__2--kai {
    width: 16%;
}

.dmw-grid__3--kai {
    width: 58%;
}

.dmw-breakpoint--1 .dmw-grid__3--kai {
    width: 64%;
}

.dmw-breakpoint--2 .dmw-grid__3--kai {
    width: 68%;
}

.dmw-grid__3-1--kai {
    width: 80%;
}

.dmw-grid__3-2--kai {
    width: 20%;
}

.dmw-grid__date {
    width: 34%;
}

.dmw-grid__month {
    width: 66%;
}

#recharge_product_id {
    opacity: 100;
}

.none {
    display: none;
}

/* custom */

.dmw--mobile .dmw-tab-container {
    overflow: hidden;
    height: 44px;
}

.dmw--mobile .dmw-tab {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling:touch;
    padding: 0;
    height: 60px;
}

.dmw--mobile .dmw-tab__item.active {
    border-bottom: 3px solid #43B54B;
}

.dmw--mobile .dmw-tab__link {
    padding: 12px 16px 8px !important;
}

.dmw--mobile .dmw-tab__indicator--mobile {
    display: none;
}

.dmw--mobile .dmw-tab__content {
    border-top: 1px solid #E7E7E7;
}

.dmw-highlight-ribbon {
    position: absolute;
    top: 2px;
    right: -10px;
    padding: 0 3px 0 4px;
    border-radius: 2px;
    background: #EA212D;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 7px;
    line-height: 12px;
}

.dmw--mobile .dmw-highlight-ribbon {
    font-size: 8px;
}
